@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "iranYekan";
    /* font-weight: 400; */
    src: url("/fonts/iranYekan/IRANYekanRegular.ttf") format("truetype");
    font-style: normal;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: iranYekan, sans-serif !important;
}

/* a {
  color: inherit;
  text-decoration: none;
} */

* {
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.dir-rtl {
  direction: rtl;
}
